$column-width: 56px;
$single-column-width: 60px;
$font-size: 14px;
$panel-font-size: 12px;

.time-input-widget {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: 100%;

    * {
        box-sizing: border-box;
    }
}

.time-input-widget-clear {
    position: absolute;
    right: 6px;
    cursor: pointer;
    overflow: hidden;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    top: 3px;
    margin: 0;
}

.time-input-widget-clear-icon {
    &:after {
        content: "x";
        font-size: 12px;
        font-style: normal;
        color: #aaa;
        display: inline-block;
        line-height: 1;
        height: 20px;
        width: 20px;
        -webkit-transition: color 0.3s ease;
        transition: color 0.3s ease;
    }

    &:hover {
        &:after {
            color: #666;
        }
    }
}

.time-input-widget-input {
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 8px 10px;
    height: 37px;
    cursor: text;
    font-size: $font-size;
    line-height: 1.42857;
    color: #666;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    -webkit-transition: border 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: border 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.time-input-widget-input[disabled] {
    color: #ccc;
    background: #f7f7f7;
    cursor: not-allowed;
}

.time-input-widget-panel {
    z-index: 1070;
    // width: 170px;
    position: absolute;
    box-sizing: border-box;

    * {
        box-sizing: border-box;
    }
}

.time-input-widget-panel-inner {
    display: inline-block;
    position: relative;
    outline: none;
    list-style: none;
    font-size: $font-size;
    text-align: left;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 5px #ccc;
    background-clip: padding-box;
    border: 1px solid #ccc;
    line-height: 1.5;
}

.time-input-widget-panel-narrow {
    // max-width: 113px;
}

.time-input-widget-panel-input {
    margin: 0;
    padding: 0;
    width: 100%;
    cursor: auto;
    line-height: 1.5;
    outline: 0;
    border: 1px solid transparent;
}

.time-input-widget-panel-input-wrap {
    box-sizing: border-box;
    position: relative;
    padding: 6px;
    border-bottom: 1px solid #e9e9e9;
}

.time-input-widget-panel-input-invalid {
    border-color: red;
}

.time-input-widget-panel-select {
    float: left;
    font-size: $panel-font-size;
    border: 1px solid #e9e9e9;
    border-width: 0 1px;
    margin-left: -1px;
    box-sizing: border-box;
    width: $column-width;
    max-height: 144px;
    overflow-y: auto;
    position: relative;

    &:first-child {
        border-left: 0;
        margin-left: 0;
    }

    &:last-child {
        border-right: 0;
    }

    ul {
        list-style: none;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    li {
        list-style: none;
        margin: 0;
        padding: 0 0 0 16px;
        width: 100%;
        height: 24px;
        line-height: 24px;
        text-align: left;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:hover {
            background: #edfaff;
        }
    }
}

.time-input-widget-panel-select-active {
    overflow-y: auto;
}

li.time-input-widget-panel-select-option-selected {
    background: #f7f7f7;
    font-weight: bold;
}

li.time-input-widget-panel-select-option-disabled {
    color: #ccc;

    &:hover {
        background: transparent;
        cursor: not-allowed;
    }
}

.time-input-widget-panel {
    &-column {
        &-1 {
            /* -- 1 column -- */
            width: $single-column-width;
            .time-input-widget-panel-select {
                width: $single-column-width;
            }
        }
        &-2 {
            /* -- 1 column -- */
            width: ($column-width * 2) + 1;
        }
        &-3 {
            /* -- 1 column -- */
            width: ($column-width * 3) + 1;
        }
        &-4 {
            /* -- 1 column -- */
            width: ($column-width * 4) + 1;
        }
    }
}
